*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
} 
body{
    min-height: 100vh;
    background: #f4f5f7;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
h1,
h2{
    color:rgb(145, 169, 250);
} 
.btn{
    background: #f05462;
    color: white;
    padding: 5px 10px;
    text-align: center;
}
.btn:hover{
    color: #f05462;
    background: white;
    padding: 3px 8px;
    border: 2px solid #f05462;
}
.title{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 10px;
    border-bottom: 2px solid #999;
}
table{
    padding: 10px;
}
td,th{
    text-align: left;
    padding: 8px;
}
.side-menu{
    position: fixed;
    background: #f05462;
    width: 20vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
} 
.side-menu .brand-name{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.side-menu li{
    font-size: 24px;
    padding: 10px 40px;
    color: whitesmoke;
    display: flex;
    align-items: center;
}
.side-menu li:hover{
    background: whitesmoke;
    color: #f05462;
}
.container{
    position: absolute;
    right: 0;
    width: 80vw;
    height: 100vh;
    background: #f1f1f1;
}
.container .header{
    position: fixed;
    top: 0; 
    right: 0;
    width: 80vw;
    height: 10vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.container .header .nav{
    width: 90%;
    display: flex;
    align-items: center;
}
.container .header .nav .search{
    flex: 3;
    display: flex;
    justify-content: center;
}
.container .header .nav .search input[type=search]{
    border: none;
    background: #f1f1f1;
    padding: 10px;
    width: 50%;
}
.container .header .nav .search button{
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center ;
}
.container .header .nav .search button img{
    width: 40px;
    height: 40px;
}
.container .header .nav .user{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .header .nav .user img{
    width: 40px;
    height: 40px;
}
.container .header .nav .user .img-case{
    position: relative;
    width: 50px;
    height: 50px;
}
.container .header .nav .user .img-case img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.container .content{
    position: relative;
    margin-top: 15vh;
    min-height: 90vh;
    background: #f1f1f1;
}
.container .content h1{
    margin-bottom: 5vh;
}
.container .content .content-2{
    min-height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
     
}
.container .content .content-2 .recent-payments{
    min-height: 50vh;
    flex: 5;
    background: white;
    margin: 0 25px 25px 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
}
.container .content .content-2 .new-students{
    flex: 5;
    background: white;
    min-height: 50vh;
    margin: 0 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
} 
.container .content .content-2 .new-students table td:nth-child(1) img{
    height: 40px;
    width: 40px;
}
.container .content .content-2 .new-students table td:nth-child(3) img{
    height: 40px;
    width: 40px;
}
/* content history start */
.container .content .content-1{
    min-height: 30vh;
    display: flex;
    flex-wrap: wrap;
    background: white;
    margin: 0 25px 25px 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    flex-direction: column;
    margin-top: 30px;
}
.container .content .content-1 .titl{
    display: flex;
    align-items: start;
    padding: 20px 30px;
}
/* content history end */
@media screen and (max-width: 1050px){
    .side-menu li{
        font-size: 18px;
    }
}
@media screen and (max-width: 850px){
    .side-menu li span{
        display: none;
    }
    .side-menu {
        align-items: center;
    }
    .side-menu li img{
        width: 40px;
        height: 40px;
    }
    .side-menu li:hover{
        background: #f05462;
        padding: 8px 38px;
        border: 2px solid aliceblue;
    }
}
@media screen and (max-width: 530px){
    .brand-name h1{
        font-size: 16px;
    }
    .side-menu li img{
        width: 30px;
        height: 30px;
    }
    .container .content .content-2 .recent-payments table th:nth-child(2),
    .container .content .content-2 .recent-payments table td:nth-child(2){
        display: none;
    }
}





































/* <div id="appointment">
            <h4>APPPOINTMENTS</h4>
            <table border="1">
                <tr height="30">
                    <th>date</th>
                    <th>Hospital Name</th>
                    <th>patient code</th>
                </tr>
                <tr height="70">
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <p>if you would like to know patient history or add any enter patient's insurance number</p>
        <input type="number" name="pid"></body></br>
        <button>Enter</button>
        <h4>Allergies and permanrnt disease</h4>
        <table border="2">
            <tr height="30">
                <th>Allergies</th>
                <th>colonic diseases diseases</th>
            </tr>
            <tr height="50">
                <td></td>
                <td></td>
            </tr>
        </table>
        <h4>background history</h4>
        <table border="1" height="60">
            <tr>
                <th>date</th>
                <th>Hospital Name</th>
                <th>examinations</th>
                <th>disease</th>
                <th>Dr.Name</th>
            </tr>
            <tr height="50">
                <td>wrgsg</td>
                <td>dfg</td>
                <td>fdgg</td>
                <td>dfgd</td>
                <td>hgsdfs</td>
            </tr>
        </table>
        <div class="update">
            <a href="#">Update information</a></br>
            <input type="date" placeholder="current date" required></br>
            <input type="text" placeholder="chospital name" required></br>
            <input type="text" placeholder="allergy"></br>
            <input type="text" placeholder="permanent disease"></br>
            <input type="text" placeholder="examinations" required></br>
            <input type="text" placeholder="medecine" required></br>

            <p>Are you sure you want to submit ??</p>
            <button>submit</button>
       </div> 
       
       
        <h4>ALLERGIES</h4>
         we will have to get it from doctor's information
         same as 
         <h4>permanent disease</h4>

        <h4>Background history</h4> 
        <table border="1" height="80">
            <tr>
                <th>date</th>
                <th>Hospital Name</th>
                <th>disease</th>
                <th>medecine</th>
                <th>Dr.Name</th>
            </tr>
            <tr height="50">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <h4>Appointments</h4>
        <table border="1" height="60">
            <tr>
                <th>date</th>
                <th>Hospital Name</th>
                <th>disease</th>
                <th>Dr.Name</th>
            </tr>
            <tr height="50">
                <td>wrgsg</td>
                <td>dfg</td>
                <td>fdgg</td>
                <td>dfgd</td>
            </tr>
        </table>*/